:root{
    --fullblack : #000;
    --fullwhite : #fff;
}

.mysidebarMain{
    position: fixed;
    top: 0;
    margin-top: 82px;
    height: 100vh;
    width: 16vw;
    border-right: 3px solid rgba(161, 155, 155, 0.205);
    z-index: 2;
    overflow: auto;
}
.logimg{
    mix-blend-mode:multiply;
    border:1px solid white;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.sidemenu{
    font-size: 17px;
    font-weight: bold;
}
.sidemenu a{
    padding: 10px;
    border-radius: 10px;
    color: var(--fullblack);
    text-decoration: none;
}
.sidemenu a:hover{
    background-color: #44414116;
    cursor: pointer;
    color: rgb(89, 46, 200);
}